
{{#each breadcrumbs as |breadcrumb|}}
  <li class="{{unless breadcrumb.isActive 'active'}}">
    {{#if breadcrumb.isActive}}
      {{breadcrumb.title}}
    {{else}}
      {{link-to breadcrumb.title breadcrumb.link}}
    {{/if}}
  </li>
{{/each}}
