<div class="contact-links">
  <div class="link">
    <img src="assets/images/email.png"/><!--
    --><p><a href="mailto:bridge@bridgemin.org">bridge@bridgemin.org</a></p>
  </div>
  <div class="link">
    <img src="assets/images/phone.png"/><!--
    --><p>(425) 885 1008</p>
  </div>
</div>