<form class="form-inline newsletter-form" name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
  <input type="hidden" name="llr" value="gca6rcdab">
  <input type="hidden" name="m" value="1102818738246">
  <input type="hidden" name="p" value="oi">
  <div class="form-group">
    <label class="sr-only" for="emailInput">Email</label>
    {{input value=email type="email" class="form-control" id="emailInput" placeholder="Your Email Address..." name="ea"}}
  </div><!--
  --><button type="submit" class="btn btn-warning">Sign Up</button>
</form>