<div class="container">
  <div class="row">
    <div class="col-sm-2">
      {{#link-to 'index' }}
        <img src="assets/images/bridge-logo.png" class="bridge-logo"/>
      {{/link-to}}
    </div>
    <div class="col-sm-10">
      <div class="top-nav clearfix">
        {{view 'fragment-link' fragment=buttonFragment goTo="goTo" class="btn-warning navbar-btn pull-right"}}
        <ul class="nav nav-pills pull-right">
          <li>{{view 'fragment-link' fragment=link1Fragment goTo="goTo" tagName="a" class="btn-link"}}</li>
          <li>{{view 'fragment-link' fragment=link2Fragment goTo="goTo" tagName="a" class="btn-link"}}</li>
        </ul>
      </div>
      {{nav-bar programSections=programSections otherSections=otherSections class="bottom-nav"}}
    </div>
  </div>
</div>
