<div class="social-media-links">
  <a href="https://www.facebook.com/BridgeDisabilityMinistries" target="_blank" class="facebook-link">
    <img src="assets/images/facebook.png"/>
  </a><!--
  --><a href="https://twitter.com/bridgedismin" target="_blank" class="twitter-link">
    <img src="assets/images/twitter.png"/>
  </a><!--
  --><a href="https://www.flickr.com/photos/128898635@N04" target="_blank" class="flickr-link">
    <img src="assets/images/flickr.png"/>
  </a>
</div>