body {
  padding-top: 156px;
  background-color: #171A1F;
}

.body {
  background-color: $gray-lighter;
  padding: 50px 0;
}

.head {
  background-color: #171A1F;
}

// Bootstrap overrides
.btn {
  font-family: Barbedor;
  border-radius: 500px;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
}

.panel-box {
  border: 0;
  margin-bottom: 50px;

  .panel-heading {
    padding: 15px 20px;
    background-color: $gray-dark;
    color: white;
    font-family: Barbedor;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    display: block;
  }
  .panel-ribbon {
    background-color: $gray-dark;
    .ribbon {
      height: 8px;
    }
  }
  .panel-body {
    background-color: white;
    padding: 0;
    border-radius: 0 0 $panel-border-radius $panel-border-radius;
    .background-image {
      height: 200px;
      margin-bottom: 20px
    }
    .inner {
      padding: 0 20px 20px 20px;
      .btn {
        margin-top: 20px;
      }
      .truncated-text {
        position: relative;
        overflow: hidden;
        line-height: 20px;
        &:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 30px;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 20%);
        }
        .btn-link {
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 1;
          font-style: italic;
          font-weight: normal;
          font-size: 1.2em;
          padding: 0px 0 0 20px;
          line-height: 1.4em;
        }
      }
    }
  }

  &.panel-box-inverse {
    &, a {
      color: white;
      text-decoration: none;
    }
    .panel-body {
      background-color: $gray-dark;
    }
    .list-group-item {
      background-color: $gray-dark;
      border-color: #555;
      &:first-child {
        border-top: 0;
      }
    }
    a.list-group-item, a.panel-heading {
      &.active, &:active, &:hover {
        background-color: $gray-darker;
      }
    }
  }
}

.ribbon {
  @include ribbon();
  &.ribbon-blue { @include ribbon-blue(); }
  &.ribbon-red { @include ribbon-red(); }
  &.ribbon-yellow { @include ribbon-yellow(); }
}