<div id="section-index">
  {{bread-crumb section=model}}
  {{#if model.image}}
    {{background-image image=model.image class="section-image"}}
  {{/if}}
  {{#page-content page=model}}
    {{outlet 'extra'}}
  {{/page-content}}
</div>