.nav-bar {
  &.navbar {
    border: 0;
    margin: 0;
  }
  .navbar-nav > .open > a:hover {
    color: white;
  }
  .dropdown {
    padding: 10px 0 30px 0;
  }
  .nav-programs {
    position: relative;

    .programs-header {
      position: absolute;
      width: 100%;
      top: -20px;

      .programs-label {
        text-align: center;
        font-style: italic;
        color: white;
        font-size: 0.9em;
        margin-bottom: 5px;
      }

      & > .ribbon {
        height: 5px;
        opacity: .3;
      }
    }

    .dropdown-menu {
      width: 270px;
      margin-left: -135px;

      & > .inner {
        .section-icon {
          padding: 20px
        }

        .section-icon:only-child {
          display: block;
        }

        .section-icon, .page-links {
          display: inline-block;
          width: 50%;
          margin: 0 auto;
        }

        .ribbon {
          height: 2px;
        }

        .description {
          margin-top: 15px;
          font-size: 0.9em;
          text-align: center;
        }
      }
    }

    li.dropdown:nth-of-type(1) .ribbon { @include ribbon-red(); }
    li.dropdown:nth-of-type(2) .ribbon { @include ribbon-yellow(); }
    li.dropdown:nth-of-type(3) .ribbon { @include ribbon-blue(); }
  }

  .dropdown-menu {
    width: 100px;
    margin-left: -50px;
    left: 50%;
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .2);
    border: 0;
    padding: 0;

    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background: $dropdown-bg;
      transform: rotate(45deg);
      top: -10px;
      left: 50%;
      margin-left: -10px;
      box-shadow: 0 0 2px 3px rgba(255, 255, 255, .2);
      z-index: -1;
    }

    & > .inner {
      background: $dropdown-bg;
      padding: 15px;
      color: white;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.2em;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}