.nav-bar {
  &.navbar {
    border: 0;
    margin: 0;
  }
  .navbar-nav > .open > a:hover {
    color: white;
  }
  .dropdown {
    padding: 10px 0 30px 0;
    font-weight: bold;
  }
  .nav-programs {
    position: relative;

    .programs-header {
      position: absolute;
      width: 100%;
      top: -20px;
      transition: opacity 0.5s;

      .programs-label {
        text-align: center;
        font-style: italic;
        color: white;
        margin-bottom: 5px;
      }

      & > .ribbons {
        height: 5px;
        position: relative;
        .ribbon-main, .ribbons-small {
          position: absolute;
          height: 100%;
          width: 100%;
        }
        .ribbon-main {
          opacity: .3;
        }
        .ribbon-small {
          vertical-align: top;
          height: 100%;
          width: 140px;
          display: inline-block;
          opacity: 0;
          &.active {
            opacity: 1;
          }
        }
      }
    }

    .dropdown-menu {
      width: 270px;
      margin-left: -135px;

      & > .inner {
        .section-icon {
          padding: 20px
        }

        .section-icon:only-child {
          display: block;
        }

        .section-icon, .page-links {
          display: inline-block;
          width: 50%;
          margin: 0 auto;
          vertical-align: middle;
        }

        .divider {
          height: 2px;
          background-color: white;
          opacity: .1;
        }

        .description {
          margin-top: 15px;
          text-align: center;
          font-weight: normal;
          font-family: $font-family-base;
        }
      }
    }
  }

  .dropdown-menu {
    width: 100px;
    margin-left: -80px;
    left: 50%;
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, .2);
    border: 0;
    padding: 0;

    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background: $dropdown-bg;
      transform: rotate(45deg);
      top: -10px;
      left: 50%;
      margin-left: -10px;
      box-shadow: 0 0 2px 3px rgba(255, 255, 255, .2);
      z-index: -1;
    }

    & > .inner {
      background: $dropdown-bg;
      padding: 15px;
      color: white;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.2em;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}