.page-content {

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  h2 { font-size: 20px; }
  h3 { font-size: 16px; }
  h4 { font-size: 12px; }

  .content-box {
    background: white;
    padding: 20px;
    border-radius: $panel-border-radius;
    margin-bottom: 20px;

    & > *:first-child {
      margin-top: 0;
    }
  }
}