.site-header {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  font-family: Barbedor;

  .nav-bar {
    min-height: 0;
  }

  .bridge-logo {
    max-width: 100%;
    max-height: 130px;
    transition: 0.5s;
    opacity: 1;
  }

  .home-link {
    opacity: 0;
    width: 0;
    transition: 0.5s;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: -5px;
    padding: 0;
    display: inline-block;
  }

  .top-nav, .bottom-nav {
    .nav {
      & > li {
        &:last-child > a {
          border-right: 0;
        }
        & > a {
          color: white;
          padding: 0 15px;
          border-right: 1px solid rgba(255,255,255,.3);
          border-radius: 0;
          line-height: 1;
          font-size: 1.2em;

          &:hover {
            background: transparent;
          }
        }
        &:hover a {
          color: white;
        }
      }
    }
  }

  .top-nav {
    overflow: hidden;
    transition: height 0.5s, opacity 0.5s;
    height: 57px;

    .nav {
      display: inline-block;
      padding: 10px;
      & > li {
        padding: 10px 0;
        a {
          font-weight: normal;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bottom-nav {
    .nav {
      padding-top: 10px;
      & > li {
        width: 100px;
        text-align: center;
        & > a {
        }
      }

      &.nav-programs > li {
        width: 140px;
      }
    }
  }

  &.minimized {
    .bridge-logo {
      max-height: 0;
      opacity: 0;
    }
    .home-link {
      opacity: 1;
      width: auto;
      padding: 8px 20px;

    }
    .top-nav {
      height: 0px;
      opacity: 0;
    }
    .bottom-nav {
      .programs-header{
        opacity: 0;
      }
      .nav {
        padding: 0;
      }
      .dropdown {
        padding: 0 0 15px 0;
      }
    }
  }
}