#site-footer {
  background-color: $gray-dark;
  padding: 30px 0;
  color: white;

  h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.3em;
  }

  .ribbon {
    height: 5px;
    opacity: .2;
  }

  .text {
    padding: 20px;
  }

  .newsletter-form {
    padding: 20px;
    .form-group {
      width: 60%;
      input.form-control {
        width: 100%;
        padding: 18px 12px;
      }
    }
    .btn {
      margin-left: 5%;
      width: 35%;
    }
  }
  .social-media-links {
    padding: 20px;
  }
}