.site-header {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  font-family: Barbedor;

  .bridge-logo {
    max-width: 100%;
    max-height: 130px;
    transition: max-height 0.5s;
  }

  .top-nav, .bottom-nav {
    .nav {
      & > li {
        &:last-child > a {
          border-right: 0;
        }
        & > a {
          color: white;
          padding: 0 15px;
          border-right: 1px solid rgba(255,255,255,.3);
          border-radius: 0;
          line-height: 1;
          font-size: 1.2em;

          &:hover {
            background: transparent;
          }
        }
        &:hover a {
          color: white;
        }
      }
    }
  }

  .top-nav {
    overflow: hidden;
    transition: height 0.5s, opacity 0.5s;
    height: 57px;

    .nav {
      display: inline-block;
      padding: 10px;
      & > li {
        padding: 10px 0;
      }
    }
  }

  .bottom-nav {
    .nav {
      padding-top: 10px;
      & > li {
        max-width: 130px;
        text-align: center;
        & > a {
        }
      }
    }
  }

  &.minimized {
    .bridge-logo {
      max-height: 75px;
    }
    .top-nav {
      height: 0px;
      opacity: 0;
    }
    .bottom-nav .programs-header{
      opacity: 0;
    }
  }
}