#index {
  .hero {
    height: 500px;
    padding: 60px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
    }

    .inner {
      background-color: rgba(0, 0, 0, .5);
      color: white;
      display: inline-block;
      padding: 20px;
      width: 35%;
      vertical-align: bottom;

      h1 {
        font-size: 1.3em;
        font-weight: bold;
        margin: 0 0 20px 0;
      }

      .text {
        font-size: 1.2em;
      }

      .btn {
        margin-top: 20px;
      }
    }
  }

  .head .ribbon {
    height: 18px;
    margin: 0 auto;

    &:nth-child(1) { width: 90%; }
    &:nth-child(2) { width: 85%; }
    &:nth-child(3) { width: 80%; }
  }

  .panel-box h4 {
    margin-top: 0;
  }

  .story {
    border-top: 1px solid $gray-light;
    margin-top:20px;
    padding-top: 20px;
    &:first-child {
      border-top: 0;
      padding-top: 0
    }
    h4 {
      margin-bottom: 5px;
    }
    .date {
      color: $gray;
      font-size: 1.2em;
      margin-bottom: 10px;
      font-style: italic
    }
  }
}