#index {
  .hero {
    padding: 30px 0;
    h1, .inner {
      background-color: rgba(0, 0, 0, .5);
      color: white;
    }

    h1 {
      padding: 20px 30px;
      font-size: 2em;
      margin: 0 0 30px 0;
      display: inline-block;
    }

    .inner {
      margin: 0 60px;
      width: 290px;
      padding: 20px;

      .text {
        font-size: 1.2em;
      }

      .btn {
        margin-top: 20px;
      }
    }
  }

  .head .ribbon {
    height: 18px;
    margin: 0 auto;

    &:nth-child(1) { width: 90%; }
    &:nth-child(2) { width: 85%; }
    &:nth-child(3) { width: 80%; }
  }

  .panel-box h4 {
    margin-top: 0;
  }

  .panel-event, .panel-story {
    .truncated-text {
      height: 160px;
    }
  }

  .news {
    border-top: 1px solid $gray-light;
    margin-top: 20px;
    padding-top: 20px;
    &:first-child {
      border-top: 0;
      margin-top: 0;
    }
    h4 {
      margin-bottom: 5px;
    }
    &.truncated-text {
      height: 180px;
    }
  }

  .date {
    color: $gray;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-style: italic;
    font-family: $headings-font-family;
  }

  .body {
    .row:last-of-type {
      div[class^="col-"] .panel-box {
        margin-bottom: 0;
      }
    }
  }
}