#section {
  padding-top: 20px;
  .sidebar {
    .panel-box {
      margin-bottom: 20px;
      .panel-heading {
        font-size: 1.2em;
      }
      .background-image {
        height: 150px;
      }
      .text {
        font-size: 1em;
      }
    }
  }
}