#section {
  padding-top: 20px;
  .sidebar {
    .panel-box {
      margin-bottom: 20px;
      .panel-heading {
        font-size: 1.2em;
      }
      .panel-ribbon {
        &:last-child {
          border-radius: 0 0 $panel-border-radius $panel-border-radius;
        }
        .ribbon {
          height: 5px;
        }
      }
      .background-image {
        height: 150px;
      }
    }

    .sidenav {
      font-family: $headings-font-family;
      font-weight: bold;
      text-align: center;
      .list-group-item {
        font-size: 1.2em;
      }
    }
  }
}