<div id="donate">
  {{site-header programSections=sortedProgramSections otherSections=sortedOtherSections link1Fragment=headerLink1Fragment link2Fragment=headerLink2Fragment buttonFragment=headerButtonFragment goTo="goTo" forceMinimized=true}}

  {{view 'donation-form' amount=amount}}
</div>