<div class="equipment-types content-box">
  <h1>Availability Status</h1>

  <div class="availability-status">
    <p><span class="status-icon green"></span>Good Supply</p>
    <p><span class="status-icon orange"></span>Fluctuating Supply</p>
    <p><span class="status-icon red"></span>Very Few or Out of Stock</p>
  </div>

  <hr>

  <h1>How to Get</h1>
  <p><span class="method-icon request-form"></span>Request form required</p>
  <p><span class="method-icon drop-in"></span>Drop-in Mobility Center to ask</p>
  <p><span class="method-icon email"></span>Email <a href="mailto:equipment@bridgemin.org" target="_blank">equipment@bridgemin.org</a> to confirm availability</p>
  <p><span class="method-icon call"></span>Call <a href="tel:425-885-1008" target="_blank">425-885-1008</a> to confirm availability</p>

  <hr>

  <h1>Item List</h1>
  <div class="row equipment-types">
    {{#each model as |equipmentType|}}
      <div class="col-sm-4">
        {{equipment-type equipmentType=equipmentType}}
      </div>
    {{/each}}
  </div>
</div>
