{{#each model as |event|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{event.title}}</h3>
    </div>
    <div class="panel-body">
      <p>{{moment event.date}}</p>
      {{markdown-to-html markdown=event.body}}
    </div>
  </div>
{{/each}}
