<div class="jumbotron">
  <h1>Homepage</h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Mobility Eqpiment
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Spiritual Care
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Guardianship
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Events</div>
      <ul class="list-group">
        {{#each events as |event|}}
        <li class="list-group-item">{{event.title}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Friend of the month
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Volunteer
      </div>
    </div>
  </div>
</div>
