<div class="newsletter">
  <div class="content-box">
    <h1>Subscribe to our Newsletter</h1>
    {{newsletter-form btnClass="btn-primary" inputId="newsletterEmailInput"}}
  </div>

  <div class="content-box">
    <h1>Newsletter Archive</h1>
    <div class="row">
    {{#each model as |newsletter|}}
      {{document-file document=newsletter}}
    {{/each}}
    </div>
  </div>
</div>