<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Side panel
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    {{page-content page=model}}
  </div>
</div>